#modal-panel {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.content {
    display: none;
}

.content.open {
    display: block;
}

#panel-a.content {
    background-color: rgba(255, 255, 255, 1);
    width: 80%;
    height: 80%;
}

#panel-b.content {
    background-color: rgba(0, 0, 255, 1);
    width: 80%;
    height: 80%;
}